/*
Error: Invalid CSS after "...ot", "bd_name")": expected "{", was ";"
        on line 6 of /Users/gendyblackman/Sites/blackmanimages/Myfirstsite/source/scss/4-layout/_conn.scss

1: 
2: <?php
3:     /* Attempt MySQL server connection. Assuming you are running MySQL
4:     server with default setting (user 'root' with no password) *\/
5: 
6:    $conn = mysqli_connect("localhost", "root", "root", "bd_name");
7:      
8:     Check connection
9:    if($conn === false){
10:         die("ERROR: Could not connect. " . mysqli_connect_error());
11:     }

Backtrace:
/Users/gendyblackman/Sites/blackmanimages/Myfirstsite/source/scss/4-layout/_conn.scss:6
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1278:in `expected'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1208:in `expected'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:677:in `block'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:696:in `block_child'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:41:in `parse'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:414:in `_to_tree'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/bin/scss:13:in `<top (required)>'
/Users/gendyblackman/.rbenv/versions/2.5.1/bin/scss:23:in `load'
/Users/gendyblackman/.rbenv/versions/2.5.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ot\", \"bd_name\")\": expected \"{\", was \";\"\A         on line 6 of /Users/gendyblackman/Sites/blackmanimages/Myfirstsite/source/scss/4-layout/_conn.scss\A \A 1: \A 2: <?php\A 3:     /* Attempt MySQL server connection. Assuming you are running MySQL\A 4:     server with default setting (user 'root' with no password) */\A 5: \A 6:    $conn = mysqli_connect(\"localhost\", \"root\", \"root\", \"bd_name\");\A 7:      \A 8:     Check connection\A 9:    if($conn === false){\A 10:         die(\"ERROR: Could not connect. \" . mysqli_connect_error());\A 11:     }"; }
