//colors
$color_ship_gray_approx: #403e45;
$color_boulder_approx: #76737c;
$color_abbey_approx: #4e4c52;
$color_chestnut_rose_approx: #cc6055;
$black_10: rgba(0,0,0,0.1);
$black_15: rgba(0,0,0,0.15);
$color_lemon_chiffon_60_approx: rgba(255,253,197,0.6);
$black_30: rgba(0,0,0,0.3);

//fonts
$font_0: FontAwesome;

//@extend-elements
//original selectors
//.drop-area__item::before, .drop-area__item::after
%extend_1 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: $black_15;
	font-size: 1.5em;
	margin-top: -0.35em;
	font-family: $font_0;
	pointer-events: none;
}

//original selectors
//.dummy, .dummy::after
%extend_2 {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0.25em 0;
	height: 0.65em;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	background: $black_15;
}


.grid {
	margin: 0 auto;
	max-width: 50em;
	padding: 0 1em;
}
.grid__item {
	font-size: 2em;
	display: inline-block;
	margin: 0.2em 0.1em;
	padding-top: 2.25em;
	width: 5.5em;
	height: 5.5em;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	background: $color_ship_gray_approx;
	color: $color_boulder_approx;
	text-align: center;
	font-size: 1em;
	&:hover {
		cursor: move;
		cursor: grab;
	}
	&:active {
		cursor: grabbing;
	}
}
.is-dragging {
	background: $color_abbey_approx;
}
.is-active {
	z-index: 100;
}
.is-dropped {
	opacity: 0;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale3d(0.7,0.7,1) !important;
}
.is-complete {
	opacity: 1;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity 0.3s, transform 0.3s !important;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale3d(1,1,1) !important;
}
.animate {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-out;
}
.drop-area {
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 17em;
	background: $color_chestnut_rose_approx;
	text-align: center;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.5s cubic-bezier(0.6,0,0.4,1);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate3d(0,20px,0);
	font-size: 0.6em;
	&.show {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,-100%,0);
		> div {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,0,0);
		}
		+ .drop-overlay {
			opacity: 1;
		}
	}
	> div {
		width: 100%;
		height: 100%;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.4s 0.3s;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,50%,0);
	}
}
.drop-area__item {
	position: relative;
	display: inline-block;
	margin: 1.25em 1% 1% 1%;
	max-width: 13em;
	width: 20%;
	height: 12em;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	background: $black_10;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.3s, background 0.3s;
	&.highlight {
		background: $black_15;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale3d(1.08,1.08,1);
	}
}
.drop-area__item::before {
	@extend %extend_1;
	content: '\f067';
}
.drop-area__item::after {
	@extend %extend_1;
	color: $color_lemon_chiffon_60_approx;
	content: '\f00c';
	font-size: 3em;
	margin-top: -0.5em;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity 0.3s, transform 0.3s;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale3d(2,2,1);
}
.drop-feedback {
	&.drop-area__item::before {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale3d(0,0,1);
	}
	&.drop-area__item::after {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale3d(1,1,1);
	}
}
.dummy {
	@extend %extend_2;
	width: 90%;
}
.dummy::after {
	@extend %extend_2;
	width: 60%;
	content: '';
}
.drop-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $black_30;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity 0.3s;
	pointer-events: none;
}
.helper {
	position: absolute !important;
	margin: 0;
}
' > =wide1') {
.grid__item: ;
}
' > =phone-landscape') {
	.grid: ;
}
@include media('screen' {
	.grid__item: ;
	.grid: ;
}
