/*
Error: Invalid CSS after "@include media ": expected selector or at-rule, was "screen('screen'..."
        on line 240 of /Users/gendyblackman/Sites/blackmanimages/Myfirstsite/source/scss/7-css/_component.scss

235: 		-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
236: 		transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
237: 	}
238: }
239: 
240: @include media screen('screen','>=phone-landscape') {
241: 	.morph-button-fixed,
242: 	.morph-button-fixed .morph-content {
243: 		width: 200px;
244: 		height: 80px;
245: 	}

Backtrace:
/Users/gendyblackman/Sites/blackmanimages/Myfirstsite/source/scss/7-css/_component.scss:240
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1278:in `expected'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1208:in `expected'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:42:in `parse'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:414:in `_to_tree'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/Users/gendyblackman/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.5.7/bin/scss:13:in `<top (required)>'
/Users/gendyblackman/.rbenv/versions/2.5.1/bin/scss:23:in `load'
/Users/gendyblackman/.rbenv/versions/2.5.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@include media \": expected selector or at-rule, was \"screen('screen'...\"\A         on line 240 of /Users/gendyblackman/Sites/blackmanimages/Myfirstsite/source/scss/7-css/_component.scss\A \A 235: 		-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;\A 236: 		transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;\A 237: 	}\A 238: }\A 239: \A 240: @include media screen('screen','>=phone-landscape') {\A 241: 	.morph-button-fixed,\A 242: 	.morph-button-fixed .morph-content {\A 243: 		width: 200px;\A 244: 		height: 80px;\A 245: 	}"; }
