//color name

$white: #ffffff;
$sunset orange: #ef5350;
$gray72: #b8b8b8;
$dark gray: #a7a7a7;
$nobel: #9d9d9d;
$gray: #7e7d7d; /* #888888 */
$gray35: #595959;
$gray80: #585558;
$gray85: #4f4e4e;
$light green: #4caf50;
$night rider: #333333;
$nero: #212121;
$black: #111111;
$dodger blue: #0099ff; /* #0682ef */
$yellow: #ffff00;
$silver: #c0c0c0;  /* #c5c5c5 */

$gray90: #e5e5e5;
$wedgewood: #4e6b80;
$charcoal: #444444;
$regal blue: #1a4361;
$lime: #00ff00;

#f1e5e6
#dfc8ca
#d3394c
#b39295
#999999
#722040
#4b0f31


#f1e5e6
#dfc8ca
#d3394c
#722040

#ff0000
red
#fef0e3
#faf1e0
#f9f6e5
#e85657
#e75854
#553445
#286f81

#faf1e0
#f9f6e5
#f9e1c9
#f0f0f0
#ebd3bd
#e75854
#d5bba4
#ccb096
#bb4445
#ba997b
#b09a86
#aaaaaa
#a9896d
#a50a05
#67c2d4
#286f81

#faf1e0
#e75854
#67c2d4
#5f545a
#553445

#cc6055
#76737c
#4e4c52
#403e45

// fonts//

