//color name

$color_fuscous_gray_approx: #4f4e4e;
$color_royal_purple_approx: rebeccapurple;
$color_mine_shaft_approx: #333;
$white: white; /*#ffffff;*/
$color_woodsmoke_approx: #111;
$color_apple_approx: #4caf50;
$color_log_cabin_approx: #212121;
$color_chicago_approx: #585558;
$color_carnation_approx: #ef5350;
$color_pink_swan_approx: #b8b8b8;
$color_shady_lady_approx: #a7a7a7;
$color_star_dust_approx: #9d9d9d;
$color_concord_approx: #7e7d7d;
$white_75: hsla(0, 0%, 100%, 0.75);
$color_azure_radiance_approx: #09f;
$color_mine_shaft_approx: #333;
$color_ship_gray_approx: #403e45;
$color_boulder_approx: #76737c;
$color_abbey_approx: #4e4c52;
$color_chestnut_rose_approx: #cc6055;
$black_10: rgba(0,0,0,0.1);
$black_15: rgba(0,0,0,0.15);
$color_lemon_chiffon_60_approx: rgba(255,253,197,0.6);
$black_30: rgba(0,0,0,0.3);
$color_gallery_approx: #eeeeee;
$color_jade_approx: #1fb264;
$color_salem_approx: #15824b;
$color_eucalyptus_approx: #1aa059;
$color_log_cabin_approx: #222;
$color_valencia_approx: #cd4535;
$color_roof_terracotta_approx: #b02818;
$color_flush_mahogany_approx: #c13b2a;

$color_mandy_approx: #e85657;
$color_rum_swizzle_approx: #f9f6e5;
$black_50: rgba(0,0,0,0.5);
$color_matterhorn_approx: #553445;
$color_linen_approx: #fef0e3;
$color_quarter_spanish_white_approx: #faf1e0;
$color_calypso_approx: #286f81;
$color_almond_70_approx: rgba(240,221,204,0.7);

$color_vanilla_approx: #d5bba4;
$color_stark_white_approx: #ebd3bd;
$color_hillary_approx: #b09a86;
$color_mandy_approx: #e75854;
$color_rum_swizzle_approx: #f9f6e5;
$white: #fff;
$color_rodeo_dust_approx: #ccb096;
$color_gallery_approx: #f0f0f0;
$color_mongoose_approx: #ba997b;
$color_sandal_approx: #a9896d;
$color_viking_approx: #67c2d4;
$color_calypso_approx: #286f81;
$black_40: rgba(0,0,0,0.4);
$color_silver_chalice_approx: #aaa;
$color_chestnut_approx: #bb4445;
$color_quarter_spanish_white_approx: #faf1e0;
$black_10: rgba(0,0,0,0.1);
$black_20: rgba(0,0,0,0.2);

$color_quarter_spanish_white_approx: #faf1e0;
$black_20: rgba(0,0,0,0.2);





// fonts//
$font_0: codropsicons;
$font_1: camera-icons;
$font_2: Montserrat;
$font_3: Helvetica Neue;
$font_4: Helvetica;
$font_5: Arial;
$font_6: sans-serif;
$font_7: Avenir Next;
$font_9: FontAwesome;
$font_10: Raleway;
$font_11: Merriweather Sans;

//Breakpoints
@import "include";
$breakpoints: (
	'phone-landscape': 400px,
	'desktop' : 600px,
	'wide' : 1200px,
	'phone-landscape1': 35em,
	'desktop1' : 45em,
	'wide1' : 65em,
);


